.form-card {
    border: 1px solid;
    border-radius: 14px;
    box-shadow: 11px 4px 22px rgb(40, 129, 194);
    ;
    width: 60%;
    margin-left: 8px;
    padding: 18px;
}

.text-capital {
    text-transform: uppercase !important;
}

.control-name {
	font-weight: bold;
	font-size: 17px;
}

.dropdown-style{
    padding-top: 4px;
}