<ion-content padding="true" class="background-white">    
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" class="ion-no-padding">
          <ion-item lines="none" class="position-left" color="transparent">
            <ion-back-button (click)="backClick()" defaultHref="/"></ion-back-button>
            <ion-text class="pageTitle">{{pageTitle}}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]="formGroup" class="panel-body" > 
      <ion-grid *ngIf="isLeadFilter">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-no-padding">
            <ion-item class="dropdown-style">
              <ion-label position="floating">Approval Status</ion-label>
              <ion-select [value]="formGroup.FilterApproveStatus" formControlName="FilterApproveStatus" interface="popover">
                <ion-select-option value="">
                  Select All
                </ion-select-option>
                <ion-select-option *ngFor="let item of statusList" value={{item.Code}}>
                  {{ item.Name }}
                </ion-select-option>
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-no-padding">
            <!-- <ion-item class="dropdown-style">
              <ion-label position="floating">Distributor Name</ion-label> 
              <ionic-selectable                                 
                [items]="distributornameList"
                itemValueField="DistributorFirstName"
                itemTextField="DistributorFirstName"
                formControlName="FilterDistributorName"
                [canSearch]="true" interface="popover">
              </ionic-selectable>
            </ion-item> -->
            <ion-item class="dropdown-style">
              <ion-label position="floating">Distributor Name</ion-label>              
              <ion-select [value]="formGroup.FilterDistributorName" formControlName="FilterDistributorName" interface="popover">
                <ion-select-option value="">
                  Select All
                </ion-select-option>
                <ion-select-option *ngFor="let item of distributornameList" value={{item.DistributorFirstName}}>
                  {{ item.DistributorFirstName }} {{item.DistributorLastName}}
                </ion-select-option>
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-no-padding">
            <ion-item class="dropdown-style">
              <ion-label position="floating">No. Of Entries</ion-label>
              <ion-select [value]="formGroup.FilterNoEntry" formControlName="FilterNoEntry" interface="popover">
                <ion-select-option value="10">10</ion-select-option>
                <ion-select-option value="20">20</ion-select-option>
                <ion-select-option value="30">30</ion-select-option>
                <ion-select-option value="40">40</ion-select-option>
                <ion-select-option value="50">50</ion-select-option>
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-no-padding">
            <ion-item class="dropdown-style">
              <ion-label position="floating">Download Format</ion-label>
              <ion-select [value]="formGroup.FilterDownloadFormat" formControlName="FilterDownloadFormat" interface="popover">
                <ion-select-option value="">
                  Select All
                </ion-select-option>
                <!-- <ion-select-option value="pdf">PDF</ion-select-option> -->
                <ion-select-option value="elsx">EXCEL</ion-select-option>
                <!-- <ion-select-option value="csv">CSV</ion-select-option> -->
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3">          
            <ion-item>
              <ion-label position="floating">From Date</ion-label>
              <ion-input [value]="formGroup.FilterFromDate"  (change)="fromDatechange($event.target.value)" formControlName="FilterFromDate" display-timezone="ist" type="date"></ion-input>
              <!--[min]="minDate" <ion-datetime [value]="formGroup.FilterFromDate" locale="fr-FR" formControlName="FilterFromDate" display-timezone="ist"></ion-datetime>             -->
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3">
            <ion-item>
              <ion-label position="floating">To Date</ion-label>
              <ion-input [value]="formGroup.FilterToDate" [min]="formGroup.FilterFromDate" formControlName="FilterToDate" display-timezone="ist" type="date"></ion-input>
              <!-- <ion-datetime [value]="formGroup.FilterToDate" formControlName="FilterToDate" display-timezone="ist"></ion-datetime>             -->
            </ion-item>
          </ion-col>   
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-button (click)="getLeaddetails()" class="filter-button">Search</ion-button>    
            <ion-button (click)="downloadExcel()" class="filter-button">Download</ion-button>   
            <ion-button (click)="onaddLead()" class="filter-button">Add Lead</ion-button> 
            <ion-button (click)="clearFilter()" class="filter-button">Clear Filter</ion-button>
          </ion-col>
        </ion-row>        
      </ion-grid> 
      <ion-grid class="form-card margin-large-top" *ngIf="isLeadFilter">        
        <ion-grid class="ion-margin">
          <ion-row>
            <table class="table" id="table-to-xls">
              <thead>
                <tr>
                  <th>Distributor Name</th>
                  <th>User Name</th>
                  <th>Region</th>
                  <th>Mobile Number</th>
                  <th>Email</th>
                  <th>Application Id</th>
                  <th>Application Date</th>
                  <th>Approval Status</th>
                  <th>Last Updated Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of leadDetails">
                <tr>
                  <td>{{item.DistributorFirstName}} {{item.DistributorLastName}}</td>
                  <td>{{item.UserFirstName}} {{item.UserLastName}}</td>
                  <td>{{item.Region}}</td>
                  <td>{{item.MobileNumber}}</td>
                  <td>{{item.Email}}</td>  
                  <td>{{item.ApplicationID}}</td>
                  <td>{{item.ApplicationDate.split("T")[0]}}</td>                
                  <td>{{item.ApprovalStatus}}</td>
                  <td>{{item.UpdatedDate.split("T")[0]}}</td>
                  <td data-exclude="true">
                    <a *ngIf="item.ApprovalStatus!='Approved'" (click)="oneditClick(item.ID)"  class="filter-button">Edit</a>
                  </td>
                  <td data-exclude="true">
                    <a (click)="onviewClick(item.ID)" class="filter-button">View</a>
                  </td>
                  <td data-exclude="true">
                    <a (click)="ondeleteClick(item.ID)" *ngIf="item.ApprovalStatus!='Approved'" class="filter-button">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-row>
        </ion-grid>
      </ion-grid>   
      <ion-grid class="form-card margin-large-top" *ngIf="isAddLead">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" class="ion-no-padding">            
              <ion-back-button></ion-back-button>
              <ion-text class="control-name">Distributor Details</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Distributor First Name <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.DistributorFirstName" type="text" formControlName="DistributorFirstName"></ion-input>
              <p *ngIf="formGroup.controls['DistributorFirstName'].hasError('required') && formGroup.controls['DistributorFirstName'].touched"
              style="color: red;">First Name is required</p>
              <p *ngIf="formGroup.controls['DistributorFirstName'].hasError('pattern')"
              style="color: red;">Please enter text only</p>
              <p *ngIf="formGroup.controls['DistributorFirstName'].hasError('maxlength')"
              style="color: red;">First Name can not be greater than 10 digit</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Distributor Last Name <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.DistributorLastName" type="text" formControlName="DistributorLastName"></ion-input>
              <p *ngIf="formGroup.controls['DistributorLastName'].hasError('required') && formGroup.controls['DistributorLastName'].touched"
              style="color: red;">Last Name is required</p>
              <p *ngIf="formGroup.controls['DistributorLastName'].hasError('pattern')"
              style="color: red;">Please enter text only</p>
              <p *ngIf="formGroup.controls['DistributorLastName'].hasError('maxlength')"
              style="color: red;">Last Name can not be greater than 10 digit</p>
            </ion-item>
          </ion-col>     
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Distributor Code <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.DistributorCode" type="text" formControlName="DistributorCode"></ion-input>
              <p *ngIf="formGroup.controls['DistributorCode'].hasError('required') && formGroup.controls['DistributorCode'].touched"
              style="color: red;">Distributor Code is required</p>
              <p *ngIf="formGroup.controls['DistributorCode'].hasError('pattern')"
              style="color: red;">Please enter text and number only</p>
              <p *ngIf="formGroup.controls['DistributorCode'].hasError('maxlength')"
              style="color: red;">Last Name can not be greater than 10 digit</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">User First Name <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.UserFirstName" type="text" formControlName="UserFirstName"></ion-input>
              <p *ngIf="formGroup.controls['UserFirstName'].hasError('required') && formGroup.controls['UserFirstName'].touched"
              style="color: red;">First Name is required</p>
              <p *ngIf="formGroup.controls['UserFirstName'].hasError('pattern')"
              style="color: red;">Please enter text only</p>
              <p *ngIf="formGroup.controls['UserFirstName'].hasError('maxlength')"
              style="color: red;">First Name can not be greater than 10 digit</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">User Last Name <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.UserLastName" type="text" formControlName="UserLastName"></ion-input>
              <p *ngIf="formGroup.controls['UserLastName'].hasError('required') && formGroup.controls['UserLastName'].touched"
              style="color: red;">Last Name is required</p>
              <p *ngIf="formGroup.controls['UserLastName'].hasError('pattern')"
              style="color: red;">Please enter text only</p>
              <p *ngIf="formGroup.controls['UserLastName'].hasError('maxlength')"
              style="color: red;">Last Name can not be greater than 10 digit</p>
            </ion-item>
          </ion-col>     
        </ion-row>       
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Mobile Number <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.MobileNumber" type="text" formControlName="MobileNumber"></ion-input>
              <p *ngIf="formGroup.controls['MobileNumber'].hasError('required') && formGroup.controls['MobileNumber'].touched"
              style="color: red;">Mobile Number is required</p>
              <p *ngIf="formGroup.controls['MobileNumber'].hasError('pattern')"
              style="color: red;">Please enter number only</p>
              <p *ngIf="formGroup.controls['MobileNumber'].hasError('maxlength')"
              style="color: red;">Mobile Number can not be greater than 10 digit</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Region <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.Region" type="text" formControlName="Region"></ion-input>
              <p *ngIf="formGroup.controls['Region'].hasError('required') && formGroup.controls['Region'].touched"
              style="color: red;">Region is required</p>
              <p *ngIf="formGroup.controls['Region'].hasError('pattern')"
              style="color: red;">Please enter text and number only</p>
              <p *ngIf="formGroup.controls['Region'].hasError('maxlength')"
              style="color: red;">Region can not be greater than 20 digit</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">E-mail <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.Email" type="text" formControlName="Email"></ion-input>
              <p *ngIf="formGroup.controls['Email'].hasError('required') && formGroup.controls['Email'].touched"
              style="color: red;">Email is required</p>
              <p *ngIf="formGroup.controls['Email'].hasError('email')"
              style="color: red;">Please enter valid E-mail Id</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item class="dropdown-style">
              <ion-label position="floating">Mandate Type <span style="color: red;"> *</span></ion-label>
              <ion-select  value="{{formGroup['MandateType']}}"  interface="popover" formControlName="MandateType">
                <ion-select-option *ngFor="let item of mandateList" value={{item.Code}}>
                  {{ item.Name }}
                </ion-select-option>
                </ion-select>
                <p *ngIf="formGroup.controls['MandateType'].errors && formGroup.controls['MandateType'].touched"
              style="color: red;">Mandate Type is required</p>
            </ion-item>
          </ion-col>     
        </ion-row>  
        <ion-row><ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12"></ion-col></ion-row>   
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" >    
            <span *ngIf="isScannedMandates">         
              <ion-input [value]="formGroup.MandateForm" type="file" (change)="onscannedFileChange($event)"  formControlName="MandateForm"></ion-input>             
              <ion-text>Upload scanned mandate form <span style="color: red;"> *</span></ion-text>
              <p *ngIf="formGroup.controls['MandateForm'].errors && formGroup.controls['MandateForm'].touched"
              style="color: red;">Please upload scanned mandate form </p>
          </span>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">             
              <ion-input [value]="formGroup.MailConfirmation" type="file" (change)="onconfirmationFileChange($event)" accept="application/pdf" formControlName="MailConfirmation"></ion-input>             
            <ion-text>Upload mail confirmation (pdf only)</ion-text>
          </ion-col>
        </ion-row>   
        <ion-row><ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12"></ion-col></ion-row>
        <ion-row><ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12"></ion-col></ion-row>
        <ion-row><ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12"></ion-col></ion-row>
        <ion-row><ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12"></ion-col></ion-row>
        <ion-row><ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12"></ion-col></ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" class="ion-no-padding">            
              <ion-back-button></ion-back-button>
              <ion-text class="control-name">Mandate Details</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Application ID <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.ApplicationID" type="text" formControlName="ApplicationID"></ion-input>
              <p *ngIf="formGroup.controls['ApplicationID'].hasError('required') && formGroup.controls['ApplicationID'].touched"
              style="color: red;">Application ID is required</p>
              <p *ngIf="formGroup.controls['ApplicationID'].hasError('pattern')"
              style="color: red;">Please enter text and number only</p>
              <p *ngIf="formGroup.controls['ApplicationID'].hasError('maxlength')"
              style="color: red;">Region can not be greater than 10 digit</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Application Date <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.ApplicationDate" [max]="maxDate" formControlName="ApplicationDate" placeholder="" display-timezone="ist" type="date"></ion-input>
              <!-- <ion-datetime [value]="formGroup.ApplicationDate" display-timezone="ist" formControlName="ApplicationDate"></ion-datetime> -->
              <p *ngIf="formGroup.controls['ApplicationDate'].errors && formGroup.controls['ApplicationDate'].touched"
              style="color: red;">Application Date is required</p>
            </ion-item>
          </ion-col>     
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">UMRN No</ion-label>
              <ion-input [value]="formGroup.UMRNNo" type="text" formControlName="UMRNNo"></ion-input>
              <p *ngIf="formGroup.controls['UMRNNo'].hasError('maxlength')"
              style="color: red;">Region can not be greater than 10 digit</p>
              <p *ngIf="formGroup.controls['UMRNNo'].hasError('pattern')"
              style="color: red;">Please enter number only</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item class="dropdown-style">
              <ion-label position="floating">Approval Status <span style="color: red;"> *</span></ion-label>
              <ion-select value="{{formGroup['ApprovalStatus']}}" interface="popover" formControlName="ApprovalStatus">
                <ion-select-option *ngFor="let item of statusList" value={{item.Code}}>
                  {{ item.Name }}
                </ion-select-option>
              </ion-select>
              <p *ngIf="formGroup.controls['ApprovalStatus'].errors && formGroup.controls['ApprovalStatus'].touched"
              style="color: red;">Approval Status is required</p>
            </ion-item>
          </ion-col>     
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Bank Account No <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.BankAccountNo" type="number" formControlName="BankAccountNo"></ion-input>
              <p *ngIf="formGroup.controls['BankAccountNo'].hasError('required') && formGroup.controls['BankAccountNo'].touched"
              style="color: red;">Bank Account No is required</p>
              <p *ngIf="formGroup.controls['BankAccountNo'].hasError('pattern')"
              style="color: red;">Please enter number only</p>
              <p *ngIf="formGroup.controls['BankAccountNo'].hasError('maxlength')"
              style="color: red;">Region can not be greater than 20 digit</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item class="dropdown-style">
              <ion-label position="floating">Account Type <span style="color: red;"> *</span></ion-label>
              <ion-select value="{{formGroup['AccountType']}}"  interface="popover" formControlName="AccountType">
                <ion-select-option *ngFor="let item of accounttypeList" value={{item.Code}}>
                  {{ item.Name }}
                </ion-select-option>
              </ion-select>
              <p *ngIf="formGroup.controls['AccountType'].errors && formGroup.controls['AccountType'].touched"
              style="color: red;">Account Type is required</p>
            </ion-item>
          </ion-col>     
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Bank IFSC Code <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.BankIFSCCode" type="text" formControlName="BankIFSCCode"></ion-input>
              <p *ngIf="formGroup.controls['BankIFSCCode'].hasError('required') && formGroup.controls['BankIFSCCode'].touched"
              style="color: red;">Bank IFSC Code is required</p>
              <p *ngIf="formGroup.controls['BankIFSCCode'].hasError('pattern') || formGroup.controls['BankIFSCCode'].hasError('maxlength') || formGroup.controls['BankIFSCCode'].hasError('minlength')"
              style="color: red;">Please enter valid IFSC Code</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Frequency <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.Frequency" type="text" formControlName="Frequency"></ion-input>
              <p *ngIf="formGroup.controls['Frequency'].errors && formGroup.controls['Frequency'].touched"
              style="color: red;">Frequency is required</p>
            </ion-item>
          </ion-col>     
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">First Collection Date <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.FirstCollectionDate" formControlName="FirstCollectionDate" placeholder="" display-timezone="ist" type="date"></ion-input>
              <!-- <ion-datetime [value]="formGroup.FirstCollectionDate" display-timezone="ist" formControlName="FirstCollectionDate"></ion-datetime> -->
              <p *ngIf="formGroup.controls['FirstCollectionDate'].errors && formGroup.controls['FirstCollectionDate'].touched"
              style="color: red;">First Collection Date is required</p>
            </ion-item>
          </ion-col>     
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-item>
              <ion-label position="floating">Last Collection Date <span style="color: red;"> *</span></ion-label>
              <ion-input [value]="formGroup.LastCollectionDate" formControlName="LastCollectionDate" placeholder="" display-timezone="ist" type="date"></ion-input>
              <!-- <ion-datetime [value]="formGroup.LastCollectionDate" display-timezone="ist" formControlName="LastCollectionDate"></ion-datetime> -->
              <p *ngIf="formGroup.controls['LastCollectionDate'].errors && formGroup.controls['LastCollectionDate'].touched"
              style="color: red;">Last Collection Date is required</p>
            </ion-item>
          </ion-col>     
        </ion-row>
      </ion-grid>
      <ion-grid class="margin-large-top margin-small-left" *ngIf="isAddLead">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
            <ion-button (click)="addlead()"><ion-icon slot="start" name="Save"></ion-icon>{{saveEditButton}}</ion-button>            
          </ion-col>
          <!-- <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
            <ion-button (click)="redirectURL()"><ion-icon slot="start" name="Save"></ion-icon>Update</ion-button>            
          </ion-col> -->
        </ion-row>        
      </ion-grid>
      <ion-grid class="form-card margin-large-top" *ngFor="let item of viewLeadDetails">
        <ion-row class="padding-mini" >
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-row>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Distributor First Name : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.DistributorFirstName}}</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Distributor Last Name : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.DistributorLastName}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>User First Name : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.UserFirstName}}</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>User Last Name : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.UserLastName}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Mobile Number : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.MobileNumber}}</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Region : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.Region}}</ion-col>
            </ion-row>   
            <ion-row>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Email : </b></ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.Email}}</ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Mandate Type : </b></ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.MandateTypeName}}</ion-col>
            </ion-row>    
            <ion-row>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Application Id : </b></ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.ApplicationID}}</ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Application Date : </b></ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" *ngIf="item.ApplicationDate.includes('T')">{{item.ApplicationDate.split("T")[0]}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>UMRN Number : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.UMRNNo}}</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Approval Status : </b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.ApprovalStatusName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Bank Account Number : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.BankAccountNo}}</ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Account Type : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.AccountTypeName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Bank IFSC Code : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.BankIFSCCode}}</ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Frequency : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.Frequency}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>First Collection Date : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" *ngIf="item.FirstCollectionDate.includes('T')">{{item.FirstCollectionDate.split("T")[0]}}</ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Last Collection Date : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" *ngIf="item.LastCollectionDate.includes('T')">{{item.LastCollectionDate.split("T")[0]}}</ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Scanned mandate form : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4"><a target= "_blank" href="item.ScannedFilePath">click here to download</a> </ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Mail confirmation : </b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4"><a target= "_blank" href="item.ConfirmationFilePath">click here to download</a> </ion-col>
          </ion-row> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>