<ion-content padding="true" class="background-white">
  <form [formGroup]="formGroup" class="panel-body">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" class="ion-no-padding">
          <ion-item lines="none" class="position-left" color="transparent">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
            <ion-text class="pageTitle">Company Payment Settings</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" class="ion-no-padding">
          <ion-item>
            <ion-label>Select Company</ion-label>
            <ion-select value="formGroup['CompanyName']" (ionChange)="getCompanySettings()"
              formControlName="CompanyName" interface="popover">
              <ion-select-option *ngFor="let item of CompanyList" value="{{item.CompanyCode}}">
                {{ item.CompanyName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="1" size-sm="1" size-md="1" size-lg="1"></ion-col>
        <ion-col size-xs="2" size-sm="2" size-md="2" size-lg="2">
          <!-- <ion-button (click)="getCompanySettings()">
            <ion-icon slot="end" name="search"></ion-icon>
            <small>Search</small>
          </ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="form-card margin-large-top">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">Account Number</ion-label>
            <ion-input [value]="formGroup.ID" formControlName="ID" hidden type="number"></ion-input>
            <ion-input [value]="formGroup.AccountNumber" formControlName="AccountNumber" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">Bank Name</ion-label>
            <ion-input [value]="formGroup.BankName" formControlName="BankName" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">Bank Account Name</ion-label>
            <ion-input [value]="formGroup.BankAccountName" formControlName="BankAccountName" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">IFSC Code</ion-label>
            <ion-input [value]="formGroup.IFSCCode" type="text" formControlName="IFSCCode" autocapitalize="characters">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="mt-13">
          <ion-item>
            <ion-label>Select account type</ion-label>
            <ion-select value="{{formGroup['AccountType']}}" formControlName="AccountType" interface="popover">
              <ion-select-option *ngFor="let item of AccountType" value="{{item.Code}}">{{item.Name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">UPI</ion-label>
            <ion-input [value]="formGroup.UPI" formControlName="UPI" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">Payment Period (for Pull based only)</ion-label>
            <ion-input [value]="formGroup.PaymentPeriod" formControlName="PaymentPeriod" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="margin-small-top">
          <ion-item>
            <ion-label>Is Beneficiary Active</ion-label>
            <ion-checkbox [checked]="formGroup.IsBeneficiaryActive" formControlName="IsBeneficiaryActive"
              color="primary" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="margin-small-top">
          <ion-item>
            <ion-label>Allow Collection form digital Payment Mode</ion-label>
            <ion-checkbox [checked]="formGroup.IsAllowCollDigiPay" formControlName="IsAllowCollDigiPay" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="margin-small-top">
          <ion-item>
            <ion-label>Enable to receive E-Cheque</ion-label>
            <ion-checkbox [checked]="formGroup.EnableECheque" formControlName="EnableECheque" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="mt-13">
          <ion-item>
            <ion-label>E-Cheque Collection Type</ion-label>
            <ion-select value="{{formGroup['ECCollType']}}" formControlName="ECCollType" interface="popover">
              <ion-select-option *ngFor="let item of EChequeCT" value="{{item.Code}}">{{item.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">E-Cheque Collection settlement Value</ion-label>
            <ion-input [value]="formGroup.ECCollValue" formControlName="ECCollValue" type="text"
              autocapitalize="characters"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="margin-small-top">
          <ion-item>
            <ion-label>Enable UPI Collection</ion-label>
            <ion-checkbox [checked]="formGroup.EnableUPIColl" formControlName="EnableUPIColl" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="mt-13">
          <ion-item>
            <ion-label>UPI Collection Type</ion-label>
            <ion-select value="{{formGroup['UCollType']}}" formControlName="UCollType" interface="popover">
              <ion-select-option *ngFor="let item of UpiCT" value="{{item.Code}}">{{item.Name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">UPI Collection settlement Value</ion-label>
            <ion-input [value]="formGroup.UCollValue" formControlName="UCollValue" type="text"
              autocapitalize="characters"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="margin-small-top">
          <ion-item>
            <ion-label>Enable To Receive Net-banking Payment</ion-label>
            <ion-checkbox [checked]="formGroup.EnableNetBanking" formControlName="EnableNetBanking" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" class="mt-13">
          <ion-item>
            <ion-label>Net-banking Collection Type</ion-label>
            <ion-select value="{{formGroup['NBCollType']}}" formControlName="NBCollType" interface="popover">
              <ion-select-option *ngFor="let item of NBCT" value="{{item.Code}}">{{item.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <ion-item>
            <ion-label position="floating">Net-banking Collection settlement Value</ion-label>
            <ion-input [value]="formGroup.NBCollValue" formControlName="NBCollValue" type="text"
              autocapitalize="characters"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- ======================== -->
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="margin-small-top">
          <ion-item>
            <ion-label>Allow modify echeque date by Company</ion-label>
            <ion-checkbox [checked]="formGroup.ModifyECByComp" formControlName="ModifyECByComp" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="margin-small-top">
          <ion-item>
            <ion-label>Allow modify echeque date by Distributor</ion-label>
            <ion-checkbox [checked]="formGroup.ModifyECByDist" formControlName="ModifyECByDist" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="margin-small-top">
          <ion-item>
            <ion-label>Allow cancel echeque by Company</ion-label>
            <ion-checkbox [checked]="formGroup.CancelECByComp" formControlName="CancelECByComp" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="margin-small-top">
          <ion-item>
            <ion-label>Allow cancel echeque by Distributor</ion-label>
            <ion-checkbox [checked]="formGroup.CancelECByDist" formControlName="CancelECByDist" color="primary"
              slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- ======================== -->

    </ion-grid>

    <ion-grid class="margin-small-top margin-small-left">
      <ion-row class="padding-mini">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-button (click)="saveUpdateSetting()">
            <ion-icon slot="start" name="save"></ion-icon>
            <small>{{saveUpdateButton}}</small>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>