<ion-content padding="true" class="background-white">
  <form [formGroup]="formGroup" class="panel-body">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" class="ion-no-padding">
          <ion-item lines="none" class="position-left" color="transparent">
            <ion-back-button (click)="backClick()" defaultHref="/tabs"></ion-back-button>
            <ion-text class="pageTitle">Schedule Payment</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Search Box -->
    <ion-grid *ngIf="!isViewInvDetails">
      <ion-row>
        <!-- <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <ion-item>
            <ion-label position="floating">Select Search Filter</ion-label>
            <ion-select value="formGroup['SearchFilterType']" formControlName="SearchFilterType" interface="popover"
              class="pb-34">
              <ion-select-option *ngFor="let item of SearchFilterList" value="{{item.Code}}">
                {{ item.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col> -->
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <ion-item>
            <ion-label position="floating">Search Invoice</ion-label>
            <ion-input [value]="formGroup.SearchInvoice" formControlName="SearchInvoice" type="text"
              class="input-padding-btm">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <ion-item>
            <ion-label position="floating">Select Date Filter</ion-label>
            <ion-select value="formGroup['DateFilterType']" formControlName="DateFilterType" interface="popover"
              class="dropdown-padding-btm">
              <ion-select-option *ngFor="let item of DateFilterList" value="{{item.Code}}">
                {{ item.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-no-padding mt-13">
          <ion-item>
            <ion-label position="floating">From Date</ion-label>
            <ion-input [value]="formGroup.FromDate" (change)="fromDatechange($event.target.value)" formControlName="FromDate" type="date" placeholder=""
              class="input-padding-btm">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-no-padding mt-13">
          <ion-item>
            <ion-label position="floating">To Date</ion-label>
            <ion-input [value]="formGroup.ToDate" formControlName="ToDate" [min]="formGroup.FromDate" type="date" placeholder=""
              class="input-padding-btm">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <br>
          <ion-button (click)="searchInvoice()" class="full-width">
            <ion-icon slot="start" name="search"></ion-icon>
            <small>Search</small>
          </ion-button>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <br>
          <ion-button (click)="downloadExcel()" class="full-width">
            <ion-icon slot="start" name="download"></ion-icon>
            <small>Download Report</small>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- All Invoices -->
    <ion-grid class="form-card margin-large-top" *ngIf="isSelectInv && InvoiceList?.length > 0">
      <ion-row class="bg-theme-blue">
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="ion-padding">
          Total Invoices:{{InvoiceList.length}}
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="ion-padding">
          Invoice Amount:{{totalInvoiceAmt}}
        </ion-col>
      </ion-row>
      <ion-grid class="ion-margin">
        <ion-row>
          <table class="table" id="table-to-xls">
            <thead>
              <tr>
                <th data-b-a-s="thin">Invoice No</th>
                <th data-b-a-s="thin">Invoice Date</th>
                <th data-b-a-s="thin">Amount</th>
                <th data-b-a-s="thin">Payment Mode</th>
                <th data-b-a-s="thin">Scheduled On</th>
                <th data-b-a-s="thin">Cheque Date</th>
                <th data-b-a-s="thin">Transaction ID</th>
                <th data-b-a-s="thin">Payment Status</th>
                <th data-exclude="true"></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of InvoiceList">
              <tr>
                <td data-b-a-s="thin"><span class="clickable-item"
                    (click)="viewDetailedInvoive(item.ID)"><b>{{item.InvoiceNo}}</b></span></td>
                <td data-b-a-s="thin">{{parseDate(item.InvoiceDate)}}</td>
                <!-- <td>{{item.OrderNo}}</td> -->
                <td data-b-a-s="thin">{{item.Amount}}</td>
                <td data-b-a-s="thin">{{item.PaymentMode}}</td>
                <td data-b-a-s="thin">{{parseDate(item.CreatedDate)}}</td>
                <td data-b-a-s="thin">{{parseDate(item.DueDate)}}</td>
                <td data-b-a-s="thin">{{item.TransactionID}}</td>
                <td data-b-a-s="thin">{{item.PaymentStatus}}</td>
                <td data-exclude="true">
                  <span>
                    <ion-icon class="download-icon" slot="start" name="download"></ion-icon>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-row>
      </ion-grid>
    </ion-grid>
    <!-- Selected Invoice -->
    <ion-grid class="form-card margin-large-top" *ngIf="isViewInvDetails">
      <ion-row class="padding-mini">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" *ngFor="let item of InvoiceDetails">
          <!--  -->
          <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Invoice No:</b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.InvoiceNo}}</ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Inv Amount:</b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.Amount}}</ion-col>
          </ion-row>
          <!--  -->
          <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Distributor:</b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">TEST DISTRIBUTOR</ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Inv Date:</b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{parseDate(item.ScheduledOn)}}</ion-col>
          </ion-row>
          <!--  -->
          <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>LR Number:</b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.LRNumber}}</ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>LR Date:</b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{parseDate(item.LRDate)}}</ion-col>
          </ion-row>
          <!-- BOX -->
          <ion-card>
            <ion-row>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Transaction ID:</b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.TransactionID}}</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Payment Status:</b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.PaymentStatus}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Payment Mode:</b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{item.PaymentMode}}</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Scheduled On:</b></ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{parseDate(item.ScheduledOn)}}</ion-col>
            </ion-row>
          </ion-card>
          <!--  -->
          <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3">
              <ion-button color="danger" disabled={{!isCancelEcheque}} (click)="cancelCheque(item.ID)">
                <ion-icon slot="start" name="close-circle"></ion-icon>
                <small>Cancel Cheque</small>
              </ion-button>
              <ion-button *ngIf="!modifyButton" disabled={{!isModifyEcheque}} (click)="changeDateButton()">
                <ion-icon slot="start" name="create"></ion-icon>
                <small>Modify Date</small>
              </ion-button>
              <ion-button color="warning" *ngIf="modifyButton" (click)="updateDate(item.ID)">
                <ion-icon slot="start" name="create"></ion-icon>
                <small style="color: black;">Update Date</small>
              </ion-button>
            </ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="2">
              <ion-item *ngIf="modifyButton">
                <ion-input [value]="formGroup.UpdatedDate" formControlName="UpdatedDate" *ngIf="modifyButton"
                  type="date"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-lg="1">
            </ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="2"><b>Cheque Date:</b></ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4">{{parseDate(item.DueDate)}}</ion-col>
          </ion-row>
        </ion-col>
        <hr>
        <!-- Invoice Details -->
        <ion-grid *ngFor="let item of InvoiceNo">
          <ion-card>
            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                <ion-text color="primary ion-no-padding">
                  <h4>Product Name</h4>
                </ion-text>
              </ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">Product Code:</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">Box Packing:</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">Batch No.:</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">Case Packing:</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">Packing:</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">
                <ion-text color="primary">PTD:</ion-text>
              </ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">Free:</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">Total Quantity:</ion-col>
              <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4">
                <ion-text color="primary">Total Amount:</ion-text>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-grid>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>