<ion-content padding="true" class="background-white">
  <form [formGroup]="formGroup" class="panel-body">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" class="ion-no-padding">
          <ion-item lines="none" class="position-left" color="transparent">
            <ion-back-button (click)="backClick()" defaultHref="/tabs"></ion-back-button>
            <ion-text class="pageTitle">Make Payment</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Search Box -->
    <ion-grid *ngIf="isSelectInv">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <ion-item>
            <ion-label position="floating">Select Search Filter</ion-label>
            <ion-select value="formGroup['SearchFilterType']" formControlName="SearchFilterType" interface="popover"
              class="pb-34">
              <ion-select-option *ngFor="let item of SearchFilterList" value="{{item.Code}}">
                {{ item.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <ion-item>
            <ion-label position="floating">Search Text</ion-label>
            <ion-input
              [disabled]="formGroup.value.SearchFilterType=='invno' || formGroup.value.SearchFilterType=='orderno'? false : true"
              [value]="formGroup.value.SearchFilterType=='invno' || formGroup.value.SearchFilterType=='orderno'? '' : formGroup.SearchText"
              formControlName="SearchText" type="text" class="input-padding-btm">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-padding">
          <ion-item>
            <ion-label position="floating">Select Date Filter</ion-label>
            <ion-select value="formGroup['DateFilterType']" formControlName="DateFilterType" interface="popover"
              class="dropdown-padding-btm">
              <ion-select-option *ngFor="let item of DateFilterList" value="{{item.Code}}">
                {{ item.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-no-padding mt-13">
          <ion-item>
            <ion-label position="floating">From Date</ion-label>
            <!-- <ion-datetime [value]="formGroup.FromDate" formControlName="FromDate" display-timezone="ist"></ion-datetime> -->
            <ion-input [value]="formGroup.FromDate" formControlName="FromDate" type="date" placeholder=""
              class="input-padding-btm">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-no-padding mt-13">
          <ion-item>
            <ion-label position="floating">To Date</ion-label>
            <ion-input [value]="formGroup.ToDate" formControlName="ToDate" type="date" placeholder=""
              class="input-padding-btm">
            </ion-input>
            <!-- <ion-datetime [value]="formGroup.ToDate" formControlName="ToDate" display-timezone="ist"></ion-datetime> -->
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="2" class="ion-no-padding">
          <ion-button (click)="searchInvoice()" class="full-width">
            <ion-icon slot="start" name="search"></ion-icon>
            <small>Search</small>
          </ion-button>
          <ion-button (click)="downloadExcel()" class="full-width">
            <ion-icon slot="start" name="download"></ion-icon>
            <small>Download Report</small>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- All Invoices -->
    <ion-grid class="form-card margin-large-top" *ngIf="isSelectInv && InvoiceList?.length > 0">
      <ion-row class="bg-theme-blue">
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" class="ion-padding">
          Total Invoices: {{InvoiceList.length}}
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" class="ion-padding">
          Invoice Amount: {{totalInvoiceAmt}}
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" class="ion-padding">
          Balance Amount: {{balanceAmt}}
        </ion-col>
      </ion-row>
      <ion-grid class="ion-margin">
        <ion-row>
          <table class="table" id="table-to-xls">
            <thead>
              <tr>
                <th data-exclude="true">
                  Select
                </th>
                <th data-b-a-s="thin">Invoice Details</th>
                <th data-b-a-s="thin">Invoice Date</th>
                <th data-b-a-s="thin">Order No</th>
                <th data-b-a-s="thin">Amount</th>
                <th data-b-a-s="thin">LR Date</th>
                <th data-b-a-s="thin">Due Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of InvoiceList">
              <tr>
                <td data-exclude="true">
                  <ion-checkbox [checked]="item.IsScheduled"
                    (ionChange)="updateInvoiceList(item.ID, 'IsScheduled', $event.target.checked)"></ion-checkbox>
                </td>
                <td data-b-a-s="thin">{{item.InvoiceNo}}</td>
                <td data-b-a-s="thin">{{parseDate(item.InvoiceDate)}}</td>
                <td data-b-a-s="thin">{{item.OrderNo}}</td>
                <td data-b-a-s="thin" data-num-fmt="0">{{item.Amount}}</td>
                <td data-b-a-s="thin">{{parseDate(item.LRDate)}}</td>
                <td data-b-a-s="thin" class="ion-no-padding">
                  <span hidden>{{item.DueDate}}</span>
                  <ion-item>
                    <ion-input [value]="item.DueDate"
                      (ionChange)="updateInvoiceList(item.ID, 'DueDate', $event.target.value)" placeholder=""
                      type="date"></ion-input>
                  </ion-item>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-row>
      </ion-grid>
    </ion-grid>
    <!-- Selected Invoices -->
    <ion-grid class="form-card margin-large-top" *ngIf="isScheduleInv || isOTPSent">
      <ion-row class="bg-theme-blue">
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="ion-padding">
          Invoices Selected: {{ScheduleInvList.length}}
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" class="ion-padding">
          Invoice Amount: {{totalInvoiceAmt}}
        </ion-col>
        <!-- <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" class="ion-padding">
          Balance Amount: {{balanceAmt}}
        </ion-col> -->
      </ion-row>
      <ion-row class="padding-mini">
        <table class="table" id="table-to-xls">
          <thead>
            <tr>
              <th>Invoice Details</th>
              <th>Invoice Date</th>
              <th>Order No</th>
              <th>Amount</th>
              <th>LR Date</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of ScheduleInvList">
            <tr>
              <td>Inv no.{{item.InvoiceNo}}</td>
              <td>{{parseDate(item.InvoiceDate)}}</td>
              <td>{{item.OrderNo}}</td>
              <td>{{item.Amount}}</td>
              <td>{{parseDate(item.LRDate)}}</td>
              <td>{{parseDate(item.DueDate)}}</td>
            </tr>
          </tbody>
        </table>
      </ion-row>
    </ion-grid>
    <!-- Payment Schedule Success -->
    <ion-grid class="form-card margin-large-top" *ngIf="scheduleSuccess">
      <ion-row class="padding-mini">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" class="ion-padding">
          <ion-row>
            <ion-col size-xs="3" size-sm="3" size-md="3" size-lg="1" class="ion-padding">
              <span>
                <ion-icon class="success-icon" slot="start" name="checkmark-circle-outline"></ion-icon>
              </span>
            </ion-col>
            <ion-col size-xs="9" size-sm="9" size-md="9" size-lg="10" class="ion-padding">
              <span class="success-text">
                Payment Scheduled!
              </span>
              <br>
              <span>Your payment has been scheduled! Details of the transaction are provided below.</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="1"></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2"><b>Amount:</b></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2">₹{{totalInvoiceAmt}}/-</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="1"></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2"><b>Receipt ID:</b></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2">{{transactionId}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="1"></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2"><b>Transaction Time:</b></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2">{{parseDate(scheduledOn)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="1"></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2"><b>Payment Mode:</b></ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="2">E-Cheque</ion-col>
      </ion-row>
    </ion-grid>
    <!-- Schedule Payment Button -->
    <ion-grid class="margin-small-top margin-small-left" *ngIf="isSelectInv && InvoiceList?.length > 0">
      <ion-row class="padding-mini">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3">
          <ion-button (click)="schedulePayment()" class="full-width">
            <ion-icon slot="start" name="calendar"></ion-icon>
            <small>Schedule Payment</small>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Send OTP Button -->
    <ion-grid class="margin-small-top margin-small-left" *ngIf="isScheduleInv && !isOTPSent">
      <ion-row class="padding-mini">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="2">
          <a>Accept Terms & Conditions and</a>
        </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3">
          <ion-button (click)="sendOtp()" class="full-width">
            <ion-icon slot="start" name="phone-portrait"></ion-icon>
            <small>Send OTP for Verification</small>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Verify OTP Button -->
    <ion-grid class="margin-small-top margin-small-left" *ngIf="isOTPSent">
      <ion-row class="padding-mini">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="2">
          <code-input [isCodeHidden]="false" [codeLength]="4" (codeChanged)="onCodeChanged($event)"
            (codeCompleted)="onCodeCompleted($event)">
          </code-input>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3">
          <ion-button (click)="verifyandconfirm()" class="full-width">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            <small>Verify and Confirm</small>
          </ion-button>
          <small>Don't receive OTP? <span class="resend-otp">RESEND OTP.</span></small>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>